.characterCard {
  margin: 0 0 20px 20px;
  @media (min-width: 360px) and (max-width: 768px) {
    margin: 0 0 20px 0;
  }
  &__info {
    background-color: #00b0c8;
    margin-top: -5px;
    padding: 10px;
  }
  &__link {
    text-decoration: none;
    color: #ffffff;
  }
}
